@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/** Breakpoints **/
/** Body & Link Styling **/
* {
  box-sizing: border-box;
  margin: 0;
}

a:link {
  text-decoration: none;
}

/** Navigation Styling **/
nav {
  background-color: #323232;
  color: white;
}

nav p {
  font-family: "Avenir Next Regular";
  margin: 0;
  font-size: 1.75rem;
}
@media screen and (max-width: 767px) {
  nav p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  nav p {
    display: inline-flex;
    padding-top: 20px;
    margin-right: 15%;
    padding-bottom: 7px;
    padding-left: 30px;
  }
}

.nav__links {
  font-family: "Avenir Next Regular";
}
@media screen and (max-width: 767px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .nav__links {
    display: inline-flex;
  }
}

.fixed__page {
  border-bottom: 3px solid white;
  padding-bottom: 17px;
  color: white;
}
@media screen and (max-width: 767px) {
  .fixed__page {
    width: 50%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .fixed__page {
    display: inline;
    width: 100%;
    margin-right: 50%;
    padding-top: 20px;
  }
}

.second__page {
  width: 50%;
  color: white;
}
@media screen and (max-width: 767px) {
  .second__page {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .second__page {
    display: inline;
    width: 100%;
    margin-right: 50%;
    padding-top: 20px;
  }
}

/** Main Styling  **/
.hero {
  display: flex;
  align-items: center;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 15rem;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
    width: auto;
  }
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 50%;
  position: absolute;
  z-index: 1;
}

.hero_title {
  position: relative;
  font-family: "Avenir Next Demi";
  color: white;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .hero_title {
    padding-left: 16px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .hero_title {
    padding-left: 35px;
    font-size: 3.75rem;
  }
}

main div {
  color: #323232;
}

.main__about p {
  font-family: "Avenir Next Demi";
  font-size: 2rem;
  padding-top: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.main__about--img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .main__about--img {
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--img {
    padding: 0 36px;
  }
}

.main__about .main__about--quote {
  font-family: "Avenir Next Demi";
  font-size: 1rem;
  margin: 0;
  line-height: 20pt;
}
@media screen and (max-width: 767px) {
  .main__about .main__about--quote {
    padding-top: 16px 16px 8px 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about .main__about--quote {
    padding: 36px 36px 18px 36px;
  }
}

.main__about .main__about--source {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .main__about .main__about--source {
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about .main__about--source {
    padding: 0 36px;
  }
}

.main__about--info {
  font-family: "Avenir Next Regular";
}

.main__about--info .main__about--title {
  color: black;
}
@media screen and (max-width: 767px) {
  .main__about--info .main__about--title {
    font-family: "Avenir Next Regular";
    font-size: 1rem;
    padding: 24px 16px 16px 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--info .main__about--title {
    font-family: "Avenir Next Demi";
    padding: 52px 36px 36px 36px;
    font-size: 1.5rem;
  }
}

.main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
  font-family: "Avenir Next Regular";
}
@media screen and (max-width: 767px) {
  .main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
    padding: 0 16px 16px 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
    line-height: 20pt;
  }
}

@media screen and (min-width: 768px) {
  .main__about--info .main__about--para1 {
    display: inline-flex;
    flex-direction: row;
    width: 45%;
    padding: 0 0px 36px 36px;
  }
}

@media screen and (min-width: 768px) {
  .main__about--info .main__about--para2 {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    padding: 0 36px 36px 24px;
  }
}

/**Main Photo Gallery Styling**/
.main__gallery {
  font-family: "Avenir Next Demi";
  background-color: #FAFAFA;
  color: #323232;
}

.main__gallery p {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .main__gallery p {
    padding: 24px 16px 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__gallery p {
    padding: 24px 0 0 36px;
  }
}

@media screen and (min-width: 768px) {
  .main__photos {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.main__photos img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .main__photos img {
    padding: 8px 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__photos img {
    display: inline-flex;
    flex-direction: row;
    width: 31%;
    height: auto;
    padding: 8px 8px;
  }
}

/** Footer Styling **/
footer {
  background-color: #323232;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__title {
  font-family: "Avenir Next Demi";
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .footer__title {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: inline-flex;
    padding: 36px 36px 36px 16px;
  }
}

@media screen and (min-width: 768px) {
  .social__icons {
    display: inline;
    margin-right: 40%;
  }
}

footer img {
  width: auto;
  height: 25px;
}

footer a {
  padding-right: 32px;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer__contact--top {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--top {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
  }
}

.footer__contact--middle {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--middle {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
  }
}

.footer__contact--bottom {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--bottom {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
  }
}

.footer__contact--title {
  font-family: "Avenir Next Demi";
  font-size: 0.9rem;
}
@media screen and (max-width: 767px) {
  .footer__contact--title {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--title {
    padding-bottom: 24px;
  }
}

.footer__contact--info {
  font-family: "Avenir Next Regular";
  font-size: 0.85rem;
}
@media screen and (max-width: 767px) {
  .footer__contact--info {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--info {
    padding-bottom: 24px;
  }
}

.footer__bandsite--title {
  font-family: "Avenir Next Regular";
  font-size: 2rem;
  padding-top: 24px;
  padding-bottom: 16px;
}

.footer__bandsite--copyright {
  font-family: "Avenir Next Regular";
  font-size: 0.75rem;
}/*# sourceMappingURL=bio.css.map */