@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/** Breakpoints **/
/** Body & Link Styling **/
* {
  box-sizing: border-box;
  margin: 0;
}

a:link {
  text-decoration: none;
}

.main__photos--hover:hover {
  opacity: 50%;
}

.header_component-logo1:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fafafa;
          text-decoration-color: #fafafa;
  text-decoration-thickness: 3px;
  text-underline-offset: 21px;
}

.header_component-logo2:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fafafa;
          text-decoration-color: #fafafa;
  text-decoration-thickness: 3px;
  text-underline-offset: 21px;
}

/** Navigation Styling **/
header {
  background-color: #323232;
  color: white;
}

header h1 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  header h1 {
    display: inline-flex;
    padding-top: 20px;
    margin-right: 10%;
    padding-bottom: 7px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  header h1 {
    display: inline-flex;
    padding-top: 20px;
    margin-right: 80px;
    padding-bottom: 7px;
    padding-left: 10%;
  }
}

.header_component {
  font-family: "Avenir Next Regular";
  margin: 0;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fafafa;
  padding-top: 20px;
  padding-bottom: 10px;
}

header p {
  font-family: "Avenir Next Regular";
  margin: 0;
  font-size: 1.75rem;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  header p {
    display: inline-flex;
    padding-top: 20px;
    margin-right: 10%;
    padding-bottom: 7px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  header p {
    display: inline-flex;
    padding-top: 20px;
    margin-right: 80px;
    padding-bottom: 7px;
    padding-left: 10%;
  }
}

.nav__links {
  font-family: "Avenir Next Regular";
}
@media screen and (max-width: 767px) {
  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .nav__links {
    display: inline-flex;
  }
}

.header_component-logo1 {
  border-bottom: 3px solid white;
  padding-bottom: 17px;
  color: white;
}
@media screen and (max-width: 767px) {
  .header_component-logo1 {
    width: 50%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header_component-logo1 {
    display: inline;
    width: 100%;
    margin-right: 50%;
    padding-top: 20px;
  }
}

.header_component-logo2 {
  width: 50%;
  color: white;
}
@media screen and (max-width: 767px) {
  .header_component-logo2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header_component-logo2 {
    display: inline;
    width: 100%;
    margin-right: 50%;
    padding-top: 20px;
  }
}

/** Main Styling  **/
.hero {
  display: flex;
  align-items: center;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 15rem;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 45rem;
    width: auto;
  }
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 50%;
  position: absolute;
  z-index: 1;
}

.hero_title {
  position: relative;
  font-family: "Avenir Next Demi";
  color: white;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .hero_title {
    padding-left: 16px;
    font-size: 2rem;
    line-height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .hero_title {
    padding-left: 36px;
    font-size: 3.75rem;
    line-height: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .hero_title {
    padding-left: 64px;
    font-size: 3.75rem;
    line-height: 68px;
  }
}

main div {
  color: #323232;
}

@media screen and (min-width: 768px) {
  .main__about {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about {
    margin-left: 36px;
    margin-right: 36px;
  }
}

.main__about--title {
  font-family: "Avenir Next Demi";
}
@media screen and (max-width: 767px) {
  .main__about--title {
    font-size: 2rem;
    padding-left: 16px;
    padding-top: 24px;
    margin-bottom: 16px;
    line-height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--title {
    font-size: 2.25rem;
    padding-left: 36px;
    padding-top: 48px;
    margin-bottom: 36px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--title {
    font-size: 2.25rem;
    padding-left: 64px;
    padding-top: 48px;
    margin-bottom: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .main__about--img {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--img {
    width: 100%;
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--img {
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.main__about .main__about--quote {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .main__about .main__about--quote {
    padding: 16px 16px 8px 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 768px) {
  .main__about .main__about--quote {
    padding: 36px 36px 18px 36px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about .main__about--quote {
    padding: 36px 36px 18px 80px;
    width: 60%;
    line-height: 32px;
  }
}

.main__about .main__about--source {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .main__about .main__about--source {
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__about .main__about--source {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about .main__about--source {
    padding: 0 80px;
  }
}

.main__about--info {
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  .main__about--info {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--info {
    margin-left: 36px;
    margin-right: 36px;
  }
}

.main__about--info .main__about--paratitle {
  color: black;
}
@media screen and (max-width: 767px) {
  .main__about--info .main__about--paratitle {
    font-family: "Avenir Next Regular";
    font-size: 1rem;
    padding: 24px 16px 16px 16px;
    line-height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--info .main__about--paratitle {
    font-family: "Avenir Next Demi";
    padding: 52px 36px 36px 36px;
    font-size: 1.5rem;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--info .main__about--paratitle {
    font-family: "Avenir Next Demi";
    padding: 52px 36px 36px 64px;
    font-size: 1.5rem;
    line-height: 44px;
  }
}

.main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
  font-family: "Avenir Next Regular";
}
@media screen and (max-width: 767px) {
  .main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
    padding: 0 16px 16px 16px;
    font-size: 0.8125;
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
    line-height: 20pt;
    font-size: 0.875rem;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--info .main__about--para1,
.main__about--info .main__about--para2 {
    line-height: 20pt;
    font-size: 0.875rem;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .main__about--info .main__about--para1 {
    display: inline-flex;
    flex-direction: row;
    width: 45%;
    padding: 0 0px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__about--info .main__about--para1 {
    display: inline-flex;
    flex-direction: row;
    width: 45%;
    padding: 0 0px 36px 64px;
  }
}

@media screen and (min-width: 768px) {
  .main__about--info .main__about--para2 {
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    padding: 0 36px 36px 24px;
  }
}

/**Main Photo Gallery Styling**/
.main__gallery {
  font-family: "Avenir Next Demi";
  background-color: #fafafa;
  color: #323232;
}

.main__gallery p {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .main__gallery p {
    padding: 24px 16px 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__gallery p {
    padding: 48px 0 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__gallery p {
    padding: 48px 0 0 36px;
  }
}

@media screen and (min-width: 768px) {
  .main__photos {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.main__photos img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .main__photos img {
    padding: 8px 16px;
  }
}
@media screen and (min-width: 768px) {
  .main__photos img {
    display: inline-flex;
    flex-direction: row;
    width: 31%;
    height: auto;
    padding: 8px 8px;
  }
}

/**Main Comment Section Styling**/
.comment__section-title {
  font-family: "Avenir Next Demi";
  color: #323232;
  background-color: white;
}

.comment__section {
  font-family: "Avenir Next Demi";
  color: #AFAFAF;
  background-color: white;
  padding: 0 16px 0 16px;
}

.comment__section-title {
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .comment__section-title {
    padding: 24px 16px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .comment__section-title {
    padding: 48px 0 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .comment__section-title {
    padding: 48px 0 0 36px;
  }
}

.comment__section-img {
  margin-top: 64px;
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: -95px;
}

.comment__section-form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .comment__section-form {
    margin-left: 30%;
    margin-right: 10%;
  }
}

.comment__section-info {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 70px;
  border-bottom: 2px solid #E1E1E1;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.comment__section-info p {
  padding: 24px 0 8px 0;
  font-size: 0.75rem;
}

.comment__section-textarea {
  height: 125px;
  width: 100%;
  border: 1px solid #AFAFAF;
  font-family: "Avenir Next Regular";
  background-color: #fafafa;
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.comment__section-default {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 70px;
  margin-top: -75px;
}

.comment__section-name {
  width: 100%;
  border: 1px solid #AFAFAF;
  color: #323232;
  font-family: "Avenir Next Regular";
  background-color: #fafafa;
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
}

.comment__section-button {
  width: 100%;
  font-family: "Avenir Next Demi";
  background-color: #323232;
  border: 1px solid #323232;
  color: #fafafa;
  font-size: 1.25rem;
  padding: 16px 0 16px 0;
  margin-bottom: 16px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .comment__section-button {
    width: 35%;
    margin-left: 65%;
  }
}

.comment__section-person {
  font-family: "Avenir Next Demi";
  color: #323232;
  padding-top: 32px;
  padding-bottom: 8px;
}

.comment__section-comments {
  font-family: "Avenir Next Regular";
  color: #323232;
  padding-bottom: 24px;
  border-bottom: 2px solid #E1E1E1;
  margin-bottom: 24px;
}

.comment__img {
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #E1E1E1;
}

.comment__section-new {
  font-family: "Avenir Next Regular";
  color: #323232;
  padding-left: 70px;
}

/** Footer Styling **/
footer {
  background-color: #323232;
  color: white;
  padding-right: 16px;
}
@media screen and (max-width: 767px) {
  footer {
    padding-left: 16px;
  }
}

.footer__title {
  font-family: "Avenir Next Demi";
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .footer__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    display: inline-flex;
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    display: inline-flex;
    padding: 48px 36px 36px 36px;
  }
}

@media screen and (min-width: 768px) {
  .social__icons {
    display: inline;
    margin-right: 15%;
  }
}
@media screen and (min-width: 1280px) {
  .social__icons {
    display: inline;
    margin-right: 60%;
  }
}

footer img {
  width: auto;
  height: 25px;
}

footer a {
  padding-right: 32px;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer__contact--top {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--top {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--top {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-right: 36px;
    padding-left: 64px;
  }
}

.footer__contact--middle {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--middle {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    padding-right: 36px;
  }
}

.footer__contact--bottom {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__contact--bottom {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
  }
}

.footer__contact--title {
  font-family: "Avenir Next Demi";
}
@media screen and (max-width: 767px) {
  .footer__contact--title {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--title {
    padding-bottom: 24px;
    line-height: 15pt;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--title {
    font-size: 0.875rem;
  }
}

.footer__contact--info {
  font-family: "Avenir Next Regular";
}
@media screen and (max-width: 767px) {
  .footer__contact--info {
    padding-bottom: 24px;
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--info {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--info {
    font-size: 0.875rem;
  }
}

.footer__contact--country {
  font-family: "Avenir Next Regular";
  font-size: 0.85rem;
}
@media screen and (max-width: 767px) {
  .footer__contact--country {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--country {
    padding-bottom: 24px;
  }
}

footer .footer__bandsite--title {
  font-family: "Avenir Next Regular";
  font-size: 2rem;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  footer .footer__bandsite--title {
    display: flex;
    margin-top: -250px;
    margin-left: 80%;
  }
}

.footer__bandsite--copyright {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__bandsite--copyright {
    padding-left: 36px;
    align-self: flex-start;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__bandsite--copyright {
    padding-left: 64px;
    align-self: flex-start;
    margin-top: 200px;
  }
}/*# sourceMappingURL=bio.css.map */